# Python
__pycache__/
*.pyc

# Node-RED
nodered-data/

# InfluxDB
influxdb-data/

# Mosquitto
mosquitto/data/
mosquitto/log/

# Grafana
grafana-data/

# System files
.DS_Store
*.swp

# Docker
*.env
.env.*
docker-compose.override.yml

